.custom-navbar {
	background-color: #AEAEAE;
	border-color: #7C7C7C;
	min-height: 96px;
}

.custom-brand {
	padding: 0px;
	padding-right: 15px;
}

.custom-navbar2{
	padding-top: 48px;
}

li.active a{
	background-color: #D0D0D0 !important;
}

.custom-main {
    background-image: url("irezumi2large25percent.png");
    min-height:1405px;
}

.jumbotron{
    background-color: transparent;
}

.japanese {
    float: right;
    writing-mode: vertical-rl;
    margin-top: 20px;
}

.japanese h1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 10px;
}